body {
    background-color: rgb(230, 230, 230);
}

.jumbotron {
    background-color: rgb(1, 41, 11);
    border-radius: 0;
    padding: 0;
}

.center {
    text-align: center;
    color: white;
}

#logo {
    width: 40%;
}

.carousel-inner {
    width: 25%;
    margin-left: 20%;
    float: left;
    margin-bottom: 65px;
}

.body-text {
    padding-left: 30%;
    padding-top: 10%;
    font-size: 30px;
    float: left;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
}

.survey {
    background-color: rgb(1, 41, 11);
    border-color: rgb(1, 41, 11);
    width: 100px;
    height: 33px;
    text-decoration: none;
}

#survey {
    background-color: rgb(194, 194, 194);
    border: 3px solid rgb(82, 82, 82);
    padding: 15px;
    text-align: center;
    margin-bottom: 65px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: rgb(1, 41, 11);
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 1%;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
}

form {
    font-size: 20px;
}

#questions {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.survey-center {
    text-align: center;
    font-size: 30px;
}

.submit {
    background-color: rgb(1, 41, 11);
    border-color: rgb(1, 41, 11);
    text-decoration: none;
}

#match-image {
    width: 100%;
}

#match {
    text-align: center;
}

#title {
    text-align: center;
}

@media screen and (max-width: 1025px) {
    .carousel-inner {
        width: 60%;
    }

    .body-text {
        padding-left: 0;
        padding-top: 1%;
        width: 100%;
        text-align: center;
        margin-bottom: 65px;
    }
}